<div class="line"></div>
<footer>
    <h4 class="footer-h4 margin-from-top">This Message Was Sent From Snappy Era</h4>
    <h4 class="footer-h4">320, New Delhi - 110037</h4>
</footer>

</body>

</html>