<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style>
        .body {
            margin: 0;
            padding: 50px;
            background-color: black;
        }

        .header-h1 {
            text-decoration: line-through;
            color: white;
            text-align: center;
            font-size: 50px;
            margin: 0;
            margin-bottom: 1rem;
        }

        .header-h1-span {
            color: red;
        }

        .line {
            height: 1px;
            background-color: white;
        }

        .footer-h4 {
            text-align: center;
            color: white;
            margin: 0;
            margin-top: 1.5rem;
        }

        .margin-from-top {
            margin-top: 0.3rem;
        }

        .main-p {
            color: white;
            font-size: 16px;
            margin: 1rem 0;
        }

        .main-btn {
            background-color: #191919;
            border: none;
            outline: none;
            padding: 10px 20px;
            color: white !important;
            font-size: 17px;
            font-weight: 500;
            cursor: pointer;
            text-decoration: none;
        }
    </style>
</head>

<body class="body">
    <header>
        <h1 class="header-h1">T<span class="header-h1-span">L</span>T</h1>
    </header>
    <div class="line"></div>