DATABASE = 
DATABASE_PASSWORD = 

JWT_KEY = 
JWT_EXPIRE = 

CRYPTO_HASH = 

CLOUDINARY_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 

EMAIL_FROM = 
EMAIL_HOST = 
EMAIL_USERNAME = 
EMAIL_PASSWORD = 

RAZORPAY_SECRET_KEY = 
RAZORPAY_KEY_ID = 

PORT = 

NODE_ENV = 