<%- include('./partials/header'); %>

    <main>
        <div>
            <h1>
                <%= Title %>
            </h1>
            <p>
                <%= Body %>
            </p>
        </div>
    </main>

    <%- include('./partials/footer'); %>